/* product-section.component.css */

.product-section {
    margin-top: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
  }
  
  .product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 16px;
    color: #007bff; /* Blue color for price */
  }
  
  .product-quantity {
    font-size: 14px;
    color: #777; /* Gray color for quantity */
  }
  
  button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  